@charset "utf-8";
.news-date {
  font-size: 0.9em;
  color: gray;
}

main.news-article {
  padding: 2em;
  background-color: #fff;
  max-width: 1080px;
  margin: 0 auto;
}

.article-section {
  margin-bottom: 2em;
}

.article-section h2 {
  color: #005f73;
  margin-top: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
}

a {
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}
